@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300&display=swap');
:root {
    --colorBeige: #f6f4eb;
    --colorLightBlue: #91C8E4;
    --colorLigthBlue2: #749BC2;
    --colorBlue: #4682A9;
}
*{
    font-family: 'Niramit', sans-serif!important;
}

.logo {
    width: 7rem;
    height: 4rem;
    object-fit: contain;
}

.navbar {
    background-color: var(--colorBlue);
    padding: 3px;
}

header {
    background-color: var(--colorBlue);
}

.nav-link {
    color: whitesmoke;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-link {

    text-decoration: none;
    color: white;
    font-size: 1.3em;
    position: relative;
}


.nav-link:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: whitesmoke;
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;

    color: whitesmoke;

}

.nav-link:focus,
.nav-link:hover {
    color: whitesmoke;
}

.nav-link:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
    color: white !important;
}

.centrado{
    text-align: center;
}
.draw-card{
    height: 10rem;
}
.card-help{
    font-size: 17px;
    background-color: #c9ddde;
    padding: 0.5rem;
}

.card{
    display: flex;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
    cursor: pointer;
    transition: all 400ms ease;
    width: 20rem;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-3%);
}

span{
    font-weight: bolder;
    font-size: 18px;
}
.card2{
    background-color: var(--colorBlue);
    display: flex;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
    cursor: pointer;
    transition: all 400ms ease;
    width: 20rem;
}
.card2:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-3%);
}

.see-more{
    background-color:var(--colorLigthBlue2);
    padding: 0.5rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
    cursor: pointer;
    transition: all 400ms ease;

}
.see-more:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-3%);
    background: linear-gradient(to bottom right,#2dcccd, #028484);
    color: white;
}

.card-loan{ 
    background-color: var(--colorLigthBlue2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
}
.loans{
    height: 4rem;
}
.card-body3{
    background-color: var(--colorBlue);
    color:white;
    padding: 1rem;
   
}
#app{
    min-height: 69vh;
}


.bis{
    fill:whitesmoke;
    cursor: pointer;
}
.biss{
    fill: var(--colorBlue);
}

.img-card{
    width:20rem;

}
.nav-link2{
    text-decoration: none;
    color: var(--colorBlue);
    display: flex;
    justify-content: space-between;
}
.nav-item2{
    background-color:white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 20rem;
    padding: 1rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
}
footer{
    background-color: var(--colorBlue);
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
}
.bi{
    cursor: pointer;
    margin-left: 3px;
    margin-right:3px ;
}
.buttonsi {
    background: rgb(145, 200, 228);
    background: linear-gradient(324deg, rgba(145, 200, 228, 1) 0%, rgba(116, 155, 194, 1) 100%);
    border: rgb(145, 200, 228);
    border-radius: 0.7rem;
    padding: 0.6rem;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

.buttonsi:hover {
    background: rgb(135, 255, 249);
    background: linear-gradient(324deg, rgba(135, 255, 249, 1) 0%, rgba(74, 112, 150, 1) 100%);
    border: rgb(135, 255, 249);
}