@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300&display=swap');
:root {
    --colorBeige: #f6f4eb;
    --colorLightBlue: #91C8E4;
    --colorLigthBlue2: #749BC2;
    --colorBlue: #4682A9;
}
*{
    font-family: 'Niramit', sans-serif!important;
}
body {}

.logo {
    width: 7rem;
    height: 4rem;
    object-fit: contain;
}

.navbar {
    background-color: var(--colorBlue);
    padding: 3px;
}

header {
    background-color: var(--colorBlue);
}

.nav-link {
    color: whitesmoke;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-link {

    text-decoration: none;
    color: white;
    font-size: 1.3em;
    position: relative;
}


.nav-link:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: whitesmoke;
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;

    color: whitesmoke;

}

.nav-link:focus,
.nav-link:hover {
    color: whitesmoke;
}

.nav-link:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
    color: white !important;
}


.cardGold{
    background-image: url(../public/images/GOLDEN.png);
    width: 20rem;
  
}
.cardSilver{
    background-image: url(../public/images/SILVER.png);
    object-fit: contain;
    width: 20rem;
}
.cardTitanium{
    background-image: url(../public/images/TITANIUM.png);
    object-fit: contain;
    color: white!important;
    width: 20rem;
}
.card-body2{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 13px;

}
.buttonsi {
    background: rgb(145, 200, 228);
    background: linear-gradient(324deg, rgba(145, 200, 228, 1) 0%, rgba(116, 155, 194, 1) 100%);
    border: rgb(145, 200, 228);
    border-radius: 0.7rem;
    padding: 0.6rem;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

.buttonsi:hover {
    background: rgb(135, 255, 249);
    background: linear-gradient(324deg, rgba(135, 255, 249, 1) 0%, rgba(74, 112, 150, 1) 100%);
    border: rgb(135, 255, 249);
}
.simbolos{
    height: 2.5rem;
}
.card-number{
    font-size: 16px;
    letter-spacing: .3rem;
}
footer{
    background-color: var(--colorBlue);
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
}
.bi{
    cursor: pointer;
    margin-left: 3px;
    margin-right:3px ;
}
.app{
    min-height: 70vh;
}
