@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300&display=swap');
:root {
    --colorBeige: #f6f4eb;
    --colorLightBlue: #91C8E4;
    --colorLigthBlue2: #749BC2;
    --colorBlue: #4682A9;
}
*{
    font-family: 'Niramit', sans-serif!important;
}
body {}

.logo {
    width: 7rem;
    height: 4rem;
    object-fit: contain;
}

.navbar {
    background-color: var(--colorBlue);
    padding: 3px;
}

header {
    background-color: var(--colorBlue);
}

.nav-link {
    color: whitesmoke;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-link {

    text-decoration: none;
    color: white;
    font-size: 1.3em;
    position: relative;
}


.nav-link:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: whitesmoke;
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;

    color: whitesmoke;

}

.nav-link:focus,
.nav-link:hover {
    color: whitesmoke;
}

.nav-link:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
    color: white !important;
}

.buttonsi {
    background: rgb(145, 200, 228);
    background: linear-gradient(324deg, rgba(145, 200, 228, 1) 0%, rgba(116, 155, 194, 1) 100%);
    border: rgb(145, 200, 228);
    border-radius: 0.7rem;
    padding: 0.6rem;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

.buttonsi:hover {
    background: rgb(135, 255, 249);
    background: linear-gradient(324deg, rgba(135, 255, 249, 1) 0%, rgba(74, 112, 150, 1) 100%);
    border: rgb(135, 255, 249);
}
.simbolos{
    height: 2.5rem;

}
footer{
    margin-top: 3rem;
    background-color: var(--colorBlue);
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
}
.bi{
    cursor: pointer;
    margin-left: 3px;
    margin-right:3px ;
}
.app{
    min-height: 70vh;
}
.centrado{
    text-align: center;
}
.bg-login-image1 {
    background: url("../public/images/cards\ 2.png");
    background-position: center;
    background-size: cover;
}
span{
    font-weight: bold;
    font-size: 18px;
}
.date_1{
    color: red;
}
.flip-card {
    background-color: transparent;
    width: 22rem;
    height: 12rem;
    perspective: 1000px;
    color: white;
  }
  .logo1{
    position: absolute;
    width: 7rem;
    height: 4rem;
    top: 6.8em;
    left: 11.7em;
  }
  .chip {
    position: absolute;
    top: 2.3em;
    left: 1em;
  }
  .number {
    text-align: center;
    letter-spacing: .3rem;
  }
  

  .strip {
    position: absolute;
    background-color: black;
    width: 22em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
  }
  
  .mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 12em;
    height: 1.3em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
  }
  
  .sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 6em;
    height: 1.3em;
    top: 5em;
    left: 12em;
    border-radius: 2.5px;
  }
  
  .code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
   
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front-titanium, .flip-card-back-titanium {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    color: white;
  }
  
  .flip-card-front-titanium {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: url(../public/images/TITANIUM.png);
  }
  
  .flip-card-back-titanium {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: url(../public/images/TITANIUM.png);
    transform: rotateY(180deg);
    color: black;
  }
  .flip-card-front-silver, .flip-card-back-silver {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front-silver {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: url(../public/images/SILVER.png);
  }
  
  .flip-card-back-silver {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: url(../public/images/SILVER.png);
    transform: rotateY(180deg);
    color: #202020  ;
  }
  .flip-card-front-gold, .flip-card-back-gold {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    color:black;
  }
  
  .flip-card-front-gold {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: url(../public/images/GOLDEN.png);
  }
  
  .flip-card-back-gold {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: url(../public/images/GOLDEN.png);
    transform: rotateY(180deg);
  }
  .draw-card{
    height: 10rem;
}
.card-help{
    font-size: 17px;
    background-color: #c9ddde;
    padding: 0.5rem;
}
