<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home banking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" type="text/css">
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
</head>

<body>

  

    <nav class="navbar navbar-dark  fixed-top ">
      <div class="container-fluid d-flex justify-content-between">
        <div class="">
          <a class="navbar-brand" href="#"><img src="./images/logo.png" class="logo" alt=""></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-white" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
              Dark offcanvas
            </h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav  flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./accounts.html">Accounts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Loans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Transactions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  <div id="app" v-cloak class="d-flex flex-wrap justify-content-center flex-column mt-5">
    <h2 class="text mt-3">Client Manager</h2>
    <div class="d-flex justify-content-center p-5">
      <form class="form">
        <label for="firstName">First Name:</label><br>
        <input v-model="firstName" type="text" name="firstName" id="firstName"><br>
        <label for="lastName">Last Name:</label><br>
        <input v-model="lastName" type="text" name="lastName" id="lastName"><br>
        <label for="email">Email:</label><br>
        <input v-model="email" type="email" name="email" id="email"><br>

        <button class="submit mt-3 btn" type="submit" @click="checkInputs" value="Add client">Add Client</button>

      </form>
    </div>
    <div>
      <h2 class="text">Client List</h2>
      <table class="container w-100">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="clients.length > 0" v-for="client of clients">
            <tr>
              <td>{{client.firstName}}</td>
              <td>{{client.lastName}}</td>
              <td>{{client.email}}</td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>

    <div class="container">
      <h2 class="text mt-3">Client REST response</h2>
      <pre>
        {{json}}
      </pre>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="manager.js"></script>

</body>

</html>