[v-cloak] {
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    font-family: 'Oxygen', sans-serif !important;
    text-decoration: none;
    list-style: none;
}

:root {
    --colorBlack:#161A1E;
    --colorBlue: #131C44;
    --colorWhite: #FFFFFF;
    --colorLigthBlue: #dedeff;
    --colorLigthBlue2: #3F51B5;
    --colorLigthBlue3:#757de8;
}
.logo{
    height: 5rem;
    width: 8rem;
}
header {
    background-color: var(--colorBlack);

}
body{


}
nav{
    background-color:var(--colorBlack);
}
.nav-link{
    color: var(--colorBlue)!important;
}
form{
    background-color: #dedeff;
    padding: 1rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid;
    border-color: var(--colorBlue);
    text-align: left;
    padding: 8px;
}
thead{
    background-color: var(--colorBlue);
    color: #FFFFFF;
}
tr:nth-child(even) {
    background-color: var(--colorLigthBlue);
}
.btn{
    background-color: var(--colorLigthBlue3);
    border-color: var(--colorBlue)!important;
    border: 1px solid;
    color:#FFFFFF;
}
.centrado{
    text-align: center;
    font-weight: bold;
}
.text{
    text-align: center;
}
footer{
    height: 10vh!important;
    color: var(--colorWhite);
    background-color:#161A1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--colorBlue);
    object-fit: contain;
    color: var(--colorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%!important;
}

.img{
    display: flex;
    justify-content: center;
    align-items:center;
    height:27rem!important;
    object-fit: cover;
    width: 100%;
}

.see-more{
    background-color: var(--colorBlue);
    text-decoration: none;
    border-radius: 6px;
    color: #FFFFFF;
    padding: 10px;
    width: 15%;
}